.received {
  max-height: 80%;

  &__link {
    color: $color-black;
  }

  &__items {
    overflow-y: scroll;
    margin-top: 2rem;
    padding: 0 2rem 2rem 0;
  }

  &__messages {
    overflow-y: scroll;
    margin-top: 2rem;
    padding: 0 2rem 2rem 0;

    height: 20rem;
  }

  &__message {
    margin-top: 2rem;

    &--text {
      display: inline-block;
      background-color: rgba($color-black, 0.1);
      padding: 0 2rem;
      border-radius: 11px;
      font-size: 1.8rem;
    }
  }

  &__message--sent {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--text {
      display: inline-block;
      background-color: rgba($color-black, 0.1);
      padding: 0 2rem;
      border-radius: 11px;
      font-size: 1.8rem;
      text-align: right;
    }
  }

  &__text {
    display: inline-block;
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 2px solid $color-green-var-3;
  }

  &__info {
    margin-top: 1rem;
    font-size: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-black, 0.05);

    gap: 2rem;
    padding: 1rem 0.6rem;
    border-radius: 11px;

    &:not(:first-child) {
      margin-top: 2.6rem;
    }
  }

  &__icon-type {
    width: 2.4rem;
    height: 2.4rem;

    &--text {
      text-decoration: none;
      color: $color-white;
      font-size: 1.4rem;
      padding: 0.2rem 1.4rem;
      border-radius: 55px;
      font-weight: 600;
      text-transform: lowercase;
      background-color: $color-green-var-1;
    }
  }

  &__icon-info {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__icon-download {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
  }

  &__size {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__file-sent-at {
    font-size: 1.2rem;
    align-self: flex-start;
    background-color: $color-blue-var-1;
    color: $color-white;
    display: inline-block;
    border-radius: 55px;
    padding: 0.4rem 0.6rem;
    font-weight: 600;
  }

  &__by {
    font-size: 1.2rem;
    align-self: flex-start;
    background-color: $color-green-var-3;
    color: $color-white;
    display: inline-block;
    border-radius: 55px;
    padding: 0.4rem 0.6rem;
    font-weight: 600;
  }

  &__file-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-right: 2px solid rgba($color-black, 0.4);
    padding-right: 2rem;
  }

  &__file-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba($color-black, 0.4);
    padding-right: 2rem;
  }

  &__file-info-extra {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba($color-black, 0.4);
    padding-right: 2rem;
    gap: 2rem;
  }
}

.form-received {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // border-top: 1px dotted rgba($color-black, 0.5);

  &__all-boxes {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // gap: 4rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    // gap: 1rem;
    row-gap: 0.4rem;

    align-self: flex-start;
  }

  &__label {
    display: block;
    margin-top: 0.6rem;
    color: rgba($color-blue-var-dark-1, 0.98);

    font-size: 2rem;
    font-weight: 600;
  }

  &__input {
    margin-top: 0.6rem;
    padding: 0.4rem 0 0.4rem 0.8rem;
    color: $color-blue-var-dark-1;
    width: 80%;

    border: 0;
    border: 1.8px solid rgba($color-blue-var-dark-1, 0.8);
    border-radius: 55px;
    font-family: 'Roboto Mono', monospace;

    &:focus {
      outline: none;
    }
  }

  &__check-user {
    font-size: 1.8rem;
    background-color: $color-green-var-3;
    color: $color-white;
    display: inline-block;
    border-radius: 55px;
    padding: 0.2rem 0.6rem;
    margin-left: 0.4rem;

    &--1 {
      margin-right: 1rem;
    }
  }

  &__btn {
    margin: 0.6rem 0;

    border: 0;
    border: 1.4px solid rgba($color-blue-var-dark-1, 0.8);
    border-radius: 2px;

    box-shadow: 0 0.4rem 0.2rem rgba($color-black, 0.2);

    font-size: 1.8rem;
    font-weight: 500;
    color: $color-blue-var-dark-1;
    text-transform: capitalize;
    padding: 0 2rem;
    border-radius: 55px;
    background-color: $color-white;

    background-color: $color-blue-var-dark-3;
    color: $color-white;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
  }

  &__boxes {
    &--message {
      grid-column: 1 / 3;
      grid-row: 5 / 5;
    }
  }

  &__message {
    width: 80%;
  }
}

.message-send-btn {
  border: 0;
  border: 1.4px solid rgba($color-blue-var-dark-1, 0.8);
  border-radius: 2px;
  color: $color-white;

  box-shadow: 0 0.4rem 0.2rem rgba($color-black, 0.2);

  font-size: 2.2rem;
  text-transform: capitalize;
  padding: 0 2rem;
  border-radius: 55px;
  background-color: $color-blue-var-dark-1;

  margin-top: 1.4rem;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;

  // &__document {
  //   grid-column: 1 / 3;
  //   grid-row: 6 / 6;
  // }

  // &__message {
  //   grid-column: 1 / 3;
  //   grid-row: 6 / 5;
  // }

  align-self: flex-start;
}
