$color-black: #000;
$color-white: #fff;

$color-green-var-1: #2d6a4f;
$color-green-var-2: #52b788;
$color-green-var-3: #02c39a;

$color-blue-var-1: #05668d;
$color-blue-var-2: #00b4d8;

$color-blue-var-dark-1: #02182b;
$color-blue-var-dark-2: #081c15;
$color-blue-var-dark-3: #023047;
