extends base 

block logIn_content
  section.section-logIn.section-logIn__relative
    .logIn
      h2.logIn__text log in
      form.form-logIn(action='#')
        .form-logIn__boxes
          label.form-logIn__label(for='email') email
          input#email-data.form-logIn__input(type='email'  required)

        .form-logIn__boxes
          label.form-logIn__label(for='password') password
          input#password-data.form-logIn__input(type='password' required)
        button.logIn__submit log In