doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Sofia+Sans:wght@300;400;500;600;700&display=swap' rel='stylesheet')

    link(rel='stylesheet' href='/css/style.css')
    title FileShare &mdash; Share anything

body
  header.header
    h3.header__head-text FileSharer
    nav.nav
      ul.nav__ul
        li.nav__li
          a.nav__link(href=`/`) Home
        li.nav__li
          a.nav__link(href='/how-it-works') How it works ?
        li.nav__li
          a.nav__link(href='/signUp') Sign in

  section.section-main-overview.section-main-overview__relative
      div.main-box-overview
        h2.main-box-overview__head FileSharer
        p.main-box-overview__sub Share files and messages easily with FileSharer.
        a.main-box-overview__link(href=`/user-files/${currentUser}`) Start sharing Files and messages
